* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: 0;
  /*   border: 1px solid yellow; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

*:active, *:focus {
  outline: none;
}

html {
  background-color: #010409;
  font-size: 18px;
  font-size: min(max(16px, 1.5vw), 22px);;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: auto;
  text-align: left;
  color: #DBDCDD;
  font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, noto color emoji, android emoji;
  line-height: 1.4em;
  word-break: break-word;
}

body {
  padding: 1vh 15vw;
  max-width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 834px) {
  body {
    padding: 0 4vw;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

main {
  padding-bottom: 5.6em;
}

sub,
sup {
  font-size: 0.25em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  background: transparent;
  margin: 0;
}

h1,
h2,
h3 {
  display: block;
  font-size: 1.8em;
  line-height: 1.16667em;
  font-weight: 700;
  margin: 1em 0 0.5em;
}

h1.title {
  font-size: 1.2em;
  margin: 1em 0 0.25em 0;
}

h3 {
  font-size: 1.2em;
}

p {
  display: block;
  margin: 0 0 1em 0;
}

p.subtitle {
  font-size: 0.9em;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

a,
button {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: #1ea3e6;
  -webkit-text-decoration-color: #1ea3e6;
  text-decoration-color: #1ea3e6;
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.2em;
  cursor: pointer;
}

a:focus,
button:focus {
  color: #DBDCDD;
  background: #0b0e13;
  outline: 1px dotted;
}

a:hover,
button:hover {
  color: #DBDCDD;
}

a:visited {
  -webkit-text-decoration-color: #e6931e;
  text-decoration-color: #e6931e;
}

a:after {
  position: relative;
  font-size: calc(6px + 0.4vw);
  content: "\00a0\00a0\279A" "";
  line-height: 0;
  color: #808284;
  padding-right: 0.3em;
  margin: 0;
  margin-left: -0.05em;
}

a.internal-link:after {
  display: none;
}

a.novisited:visited {
  -webkit-text-decoration-color: revert;
  text-decoration-color: revert;
}

small,
figcaption {
  display: block;
  font-size: min(max(12px, 1.5vw), 15px);;
  color: #808284;
  line-height: 1.5em;
}

small.revert,
figcaption.revert {
  color: revert;
}

figcaption {
  margin-bottom: 2em;
}

nav #breadcrumbs {
  margin-top: 0.7em;
}

nav #breadcrumbs h1,
nav #breadcrumbs h2 {
  display: inline;
  font-size: min(max(12px, 1.5vw), 15px);;
  font-weight: 400;
  font-family: revert;
}

nav a:visited {
  -webkit-text-decoration-color: #1ea3e6;
  text-decoration-color: #1ea3e6;
}

footer {
  margin: 1.4em 0;
  padding: 1.4em 0;
}

footer a {
  opacity: 80%;
}

blockquote {
  margin: 0;
  padding: 0.8em;
  background: #0b0e13;
}

blockquote p:first-child {
  margin: 0;
}

ul {
  line-height: 1.68em;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}

ul li:before {
  content: '\2736';
  margin: 0 0.5em 0 0;
}

li {
  padding: 0 0 0.5em 0;
}

nobr {
  white-space: nowrap;
}

img,
video {
  margin: 1.4em 0;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  opacity: 100%;
}

img + figcaption,
video + figcaption {
  margin-top: -1.4em;
}

summary {
  cursor: pointer;
}

details summary > * {
  display: inline-block;
}

.invalid-link {
  color: #34363a;
  cursor: help;
}

.invalid-link-brackets {
  color: #1a1d22;
  cursor: help;
}

figure + .split-layout,
.split-layout + figure,
.split-layout + .split-layout {
  margin-top: -1.4em;
}

@media screen and (max-width: 834px) {
  figure + .split-layout,
  .split-layout + figure,
  .split-layout + .split-layout {
    margin-top: revert;
  }
}

.split-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

@media screen and (max-width: 834px) {
  .split-layout {
    display: block;
  }
}

.category[data-number] {
  margin-top: 1.4em;
  padding-top: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  border-top: 2px solid #808284;
}

.category[data-number] figure img {
  margin: 0;
}

span.direction {
  position: relative;
  font-size: 0.9em;
  bottom: -0.1em;
}

/*Add the correct display in IE 10+*/
template {
  display: none;
}

/*Add the correct display in IE 10*/
[hidden] {
  display: none;
}
/*# sourceMappingURL=style.css.map */