// Colors
$site: hsl(219, 81%, 2%);
$primary: mix($site, white, 14%);
$links: #1ea3e6;
$quotes: mix($site, white, 96%);
$light: mix($site, white, 50%);

// Measurements
$rootsize: 1em;
$line-h: $rootsize+($rootsize * 0.40);
$small: #{"min(max(14px, 1.5vw), 16px);"};
$border-line: 0.08em;
$header-size: 1.8em;

//Font settings
$regular: 400;
$bold: 700;

$inter: "Inter",
-apple-system,
BlinkMacSystemFont,
Segoe UI,
sans-serif,
Apple Color Emoji,
Segoe UI Emoji,
Segoe UI Symbol;

$karrik: "Karrik-Regular",
"Inter",
-apple-system,
BlinkMacSystemFont,
Segoe UI,
sans-serif,
Apple Color Emoji,
Segoe UI Emoji,
Segoe UI Symbol;

// Mobile Media Query
$query: "max-width: 834px";

// All elements
* {
  box-sizing: border-box;
  z-index: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;

  &:focus {
    outline: 1px dotted;
  }

  &:active {
    outline: none;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

// HTML-wide
/*1. Prevent adjustments of font size after orientation changes in iOS*/
html {
  font-size: 18px;
  font-size: #{"min(max(16px, 1.5vw), 22px);"};
  margin: 0;
  padding: 0;

  @supports (-webkit-text-size-adjust: 100%) {
    & {
      -webkit-text-size-adjust: 100%;
    }
  }

  @supports (-moz-text-size-adjust: 100%) {
    & {
      -moz-text-size-adjust: 100%;
    }
  }

  @supports (-ms-text-size-adjust: 100%) {
    & {
      -ms-text-size-adjust: 100%;
    }
  }

  @supports (text-size-adjust: 100%) {
    & {
      text-size-adjust: 100%;
    }
  }
}

// Body settings
body {
  background-color: $site;
  margin: 0;
  padding: 1vh 15vw;
  max-width: 100vw;
  height: 100vh;
  font-family: $inter;
  line-height: $line-h;
  color: $primary;
  text-align: left;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  text-rendering: auto;

  // Shorten padding on mobile
  @media screen and ($query) {
    & {
      padding: 1vh 4vw;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}

// Load the Karrik typeface and set it up
@font-face {
  font-family: "Karrik-Regular";
  src: url("../webfonts/Karrik-Regular.woff") format("woff"),
    url("../webfonts/Karrik-Regular.woff2") format("woff2"),
    url("../webfonts/Karrik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*Prevent `sub` and `sup` elements from affecting the line height in
 *all browsers*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*1. Change the font styles in all browsers.
 *2. Remove the margin in Firefox and Safari*/
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  /*1*/
  line-height: 1.15;
  /*1*/
  margin: 0;
  /*2*/
}

/*Remove the inheritance of text transform in Edge, Firefox, and IE.*/
button,
select {
  text-transform: none;
  /*1*/
}

/*1. Add the correct box sizing in IE 10.
 *2. Remove the padding in IE 10*/
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /*1*/
  padding: 0;
  /*2*/
}

// Headers
h1,
h2,
h3 {
  line-height: $line-h * 0.7;
  margin: $line-h 0 ($line-h / 2);
  font-family: $karrik;
}

h1 {
  font-size: $header-size;
  margin-top: $line-h / 2;
}

h2 {
  font-size: $header-size;
}

h3 {
  font-size: $header-size - 0.6;
}

// Paragraphs
p {
  display: block;
  margin-bottom: $line-h;
}

article h2:first-of-type {
  margin-bottom: $line-h;
}

// Italic
i,
em {
  font-style: italic;
}

// Bold 
b,
strong {
  font-weight: $bold;
}

// Links
a {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: $links;
  -webkit-text-decoration-color: $links;
  text-decoration-color: $links;
  text-decoration-thickness: $border-line;
  text-underline-offset: $border-line * 2;

  &:hover,
  &:focus {
    color: $primary;
  }

  // Change underline color for links that have been visited
  &:visited {
    -webkit-text-decoration-color: #e6931e;
    text-decoration-color: #e6931e;
  }

  // Add pseudo-element when links point outside the site
  &:after {
    position: relative;
    font-size: calc(6px + 0.4vw);
    content: "\00a0\00a0\279A""";
    line-height: 0;
    color: $light;
    padding-right: 0.3em;
    margin: 0;
    margin-left: -0.05em;
  }

  // Do not display pseudo-element on internal links
  &.internal-link:after {
    display: none;
  }

  // Change cursor type when a link contains a checkbox. Hovering on the checkbox will display a "pointer" cursor
  input,
  label {
    cursor: pointer;
  }
}

// Syle drop-down boxes
.box {
  padding: $rootsize / 10 $rootsize;
  margin-bottom: $rootsize;
  border: $border-line solid $primary;
  width: auto;
  min-height: auto;
  content-visibility: auto;

  &:hover,
    &:focus {
      background: $quotes;
    }

  h2 {
    display: inline;
    margin-top: 0;
  }
}

.notes h2 {
  display: revert;
}

// Style <small> tag
small {
  display: block;
  font-size: $small;
  color: $light;
  line-height: $line-h * 1.15;
}

// Style smaller, custom bits of text
.small {
  font-size: $small;
  line-height: $line-h;
}

// Site navigation
nav {

  // Breadcrumbs
  #breadcrumbs {
    margin-top: $line-h / 2;

    h1,
    h2 {
      display: inline;
      font-size: $small;
      font-weight: $regular;
      font-family: revert;
    }
  }

  // Prevent underline from changing color when the site link has been visited
  a:visited {
    -webkit-text-decoration-color: $links;
    text-decoration-color: $links;
  }
}

footer {
  margin: $rootsize 0 $line-h;

  a {
    opacity: 80%;
  }
}

// Quotes
blockquote {
  margin: 0;
  padding: $rootsize / 1.25;
  background: $quotes;

  p:first-child {
    margin: 0;
  }
}

// Lists
ul,
ol {
  line-height: $line-h * 1.2;
  list-style-position: outside;
  margin: 0 0 $rootsize;
  padding: 0 0 0 1em;
}

// Prevent items wrapped by <nobr></nobr> from breaking line.
nobr {
  white-space: nowrap;
}

// Checkboxes
input {
  margin: 0 0.4em $rootsize / 2;
  cursor: pointer;
}

.last {
  margin-bottom: $line-h * 1.2;
}

// Images
img {
  margin: ($line-h * 1.5) 0;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  opacity: 100%;

  &:hover,
  &:active {
    opacity: 100%;
  }

  /* one or more available input mechanism(s) can hover over elements with ease */
  @media (any-hover: hover) {
    & {
      opacity: 80%;
    }
  }

  // Image caption. Must be written in <small>
  &+small {
    margin-top: -($line-h * 1.5);
  }
}

// Fix stilying issues with details and summary. IE will ignore these settings.
@supports not (-ms-ime-align: auto) {

  details {
    /*Add the correct display in Edge, IE 10+, and Firefox*/
    display: block;

    summary {
      /*Add the correct display in all browsers*/
      display: list-item;
      margin: 1em 0;
      padding: 0.5em;
      cursor: pointer;

      nav {
        display: inline;
      }
    }
  }
}

// Create and style the flexbox that contains "boxes" on homepage
.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  gap: $rootsize;

  // Split width equally
  .item {
    width: 50%;

    @media screen and ($query) {

      // Restyle item on mobiles
      & {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  // First-side: Left
  .item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }

  // Second-side: Right
  .item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }

  @media screen and ($query) {

    // Restyle parent on mobiles
    & {
      flex-wrap: wrap;
      gap: 0;
    }
  }
}

// Legacy Firefox implementation of flexbox. Treats all flex containers as inline-block elements.
@-moz-document url-prefix() {
  .parent {
    width: 100%;
    box-sizing: border-box;
  }
}

// This one changes it to a pointer
.pointer {
  cursor: pointer;
}

// Style internal links that point to not-yet-existing pages 
.invalid-link {
  color: mix($site, white, 80%);
  cursor: help;
}

.invalid-link-brackets {
  color: mix($site, white, 90%);
  cursor: help;
}

// Create table to display homepage title and first paragraphs at "opposite" sides of the viewport
table.homepage {
  height: 100vh;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;

  .homepage td {
    border-style: transparent;
    border-width: 0;
    overflow: hidden;
  }

  .homepage th {
    border-style: transparent;
    border-width: 0;
    font-weight: unset;
    overflow: hidden;
  }

  .homepage-0lax {
    vertical-align: top;
  }

  .homepage-1lax {
    vertical-align: bottom;
    font-size: $rootsize * 1.4;
    line-height: $line-h;

    @media screen and ($query) {
      font-size: $rootsize * 1.15;
    }
  }
}

// TABLE EXPERIMENT
table.work {
  width: 100%;
  border-collapse: collapse;
  border-color: inherit;
  vertical-align: top;
  text-align: left;
  border-style: hidden;

  tr:nth-child(4),
  tr:nth-child(5) {
    display: none;
    visibility: hidden;
  }

  td {
    border: $border-line solid transparent;
    overflow: hidden;
    padding: 2vw 0;
    vertical-align: top;

    &.first {
      padding-top: 0;

      p:first-of-type,
      h2:first-of-type {
        margin-top: 0;
      }

      p:last-of-type {
        margin-bottom: 0;
      }
    }

    &.description {
      padding-right: 2vw;
      font-weight: $bold;
    }

    &.content {
      padding-left: 2vw;

      ul,
      p:last-of-type {
        margin-bottom: 0;
      }
    }

    @media screen and ($query) {
      & {
        display: inline-block;

        &.content {
          padding-left: 0;
          padding-bottom: $line-h;
        }
      }
    }
  }

  @media screen and ($query) {

    &,
    & col {
      width: auto;
    }
  }
}

// Style scrollable image gallery
div.container {
  display: inline-flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;

  span.fullscreen {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

    & img {
      position: fixed;
      margin: 0;
      padding: 0;
      max-height: 90%;
      max-width: 90%;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 15em black;
      opacity: 100%;
    }
  }

  div.image {
    flex: 0 0 auto;

    img {
      margin: 0 $rootsize 0 0;
      width: 23em;
      height: auto;
      cursor: zoom-in;
    }

    small {
      margin: 0.5em 0;
      max-width: 25em;
    }

    &:focus-within+span.fullscreen {
      visibility: visible;
      opacity: 1;
      z-index: 3;
      cursor: zoom-out;
    }
  }
}

/*Add the correct display in IE 10+*/
template {
  display: none;
}

/*Add the correct display in IE 10*/
[hidden] {
  display: none;
}