// Colors
$site: #010409;
$primary: #DBDCDD;
$links: #1ea3e6;
$light: mix($site, hsl(0, 0%, 100%), 96%);
$lighter: mix($site, white, 50%);

// Measurements
$rootsize: 1em;
$line-h: 1.4em;
$small: #{"min(max(12px, 1.5vw), 15px);"};
$border-line: 0.08em;
$header-size: 1.8em;

//Typefaces
$SpaceGrotesk: "Space Grotesk",
-apple-system,
BlinkMacSystemFont,
Segoe UI,
sans-serif,
Apple Color Emoji,
Segoe UI Emoji,
Segoe UI Symbol,
noto color emoji,
android emoji;

//Typeface weights
$regular: 400;
$bold: 700;

// Mobile Media Query
$query: "max-width: 834px";

// All elements
* {
  box-sizing: border-box;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  &:active,
  &:focus {
    outline: none;
  }
}

// HTML-wide settings
html {
  background-color: $site;
  font-size: 18px;
  font-size: #{"min(max(16px, 1.5vw), 22px);"};
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: auto;
  text-align: left;
  color: $primary;
  font-family: $SpaceGrotesk;
  line-height: $line-h;
  word-break: break-word;
}

// Body settings
body {
  padding: 1vh 15vw;
  max-width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  // Less padding on mobile
  @media screen and ($query) {
    & {
      padding: 1vh 4vw;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}

// Prevent `sub` and `sup` elements from affecting the line height in all browsers
sub,
sup {
  font-size: $rootsize * 0.25;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  // Change the font styles in all browsers
  font-size: 100%;
  line-height: 1.15;

  // Remove the margin in Firefox and Safari
  margin: 0;
}

// Headers
h1,
h2,
h3 {
  display: block;
  font-size: $header-size;
  line-height: $line-h / 1.2;
  font-weight: 700;
  margin: $rootsize 0 ($rootsize/2);
}

h1.title {
  font-size: $header-size/1.5;
  margin: $rootsize 0 ($rootsize/ 4) 0;
}

h3 {
  font-size: $header-size/1.5;
}

// Paragraphs
p {
  display: block;
  margin: 0 0 $rootsize 0;

  &.subtitle {
    font-size: $header-size/2;
  }
}

// Italic
i,
em {
  font-style: italic;
}

// Bold 
b,
strong {
  font-weight: $bold;
}

// Links
a {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: $links;
  -webkit-text-decoration-color: $links;
  text-decoration-color: $links;
  text-decoration-thickness: $border-line;
  text-underline-offset: $border-line * 4;

  &:focus {
    color: $primary;
    background: $light;
    outline: 1px dotted;
  }

  // Change underline color for links that have been visited
  &:visited {
    -webkit-text-decoration-color: #e6931e;
    text-decoration-color: #e6931e;
  }

  // Add pseudo-element when link points outside of site
  &:after {
    position: relative;
    font-size: calc(6px + 0.4vw);
    content: "\00a0\00a0\279A""";
    line-height: 0;
    color: $lighter;
    padding-right: 0.3em;
    margin: 0;
    margin-left: -0.05em;
  }

  // Do not display pseudo-element on internal links
  &.internal-link:after {
    display: none;
  }
}

// Style <small> tag
small,
figcaption {
  display: block;
  font-size: $small;
  color: $lighter;
  line-height: $rootsize * 1.5;

  &.revert {
    color: revert;
  }
}

figcaption {
  margin-bottom: $rootsize * 2;
}

// Site navigation
nav {

  // Breadcrumbs
  #breadcrumbs {
    margin-top: $line-h / 2;

    h1,
    h2 {
      display: inline;
      font-size: $small;
      font-weight: $regular;
      font-family: revert;
    }
  }

  // Prevent underline from changing color when the site link has been visited
  a:visited {
    -webkit-text-decoration-color: $links;
    text-decoration-color: $links;
  }
}

footer {
  margin: $line-h 0;
  padding: $line-h 0;

  a {
    opacity: 80%;
  }
}

// Quotes
blockquote {
  margin: 0;
  padding: $rootsize / 1.25;
  background: $light;

  p:first-child {
    margin: 0;
  }
}

// Lists
ul,
ol {
  line-height: $line-h * 1.2;
  list-style: none;
  margin: 0 0 $rootsize;
  padding: 0;
}

ul li:before {
  content: '\2736';
  margin: 0 ($rootsize/2) 0 0;
}

li {
  padding: 0 0 ($rootsize/2) 0;
}

// Prevent items wrapped by <nobr></nobr> from breaking line.
nobr {
  white-space: nowrap;
}

// Images
img,
video {
  margin: $line-h 0;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  opacity: 100%;
}

img+figcaption,
video+figcaption {
  margin-top: -($line-h);
}

// Style the flexbox div that contains the "details" drop-down boxes on the homepage
.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  margin-top: $line-h * 2;

  @media screen and ($query) {

    // Restyle parent on mobiles
    & {
      flex-wrap: wrap;
    }
  }

  // Split width equally
  .item {
    width: 50%;
    margin-right: $rootsize;

    @media screen and ($query) {

      // Restyle item on mobiles
      & {
        width: 100%;
        max-width: 100%;
        margin-right: revert;
      }
    }

    // First-side: Left
    &:nth-child(1) {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
    }

    // Second-side: Right
    &:nth-child(2) {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
    }
  }
}

// Legacy Firefox implementation of flexbox. Treats all flex containers as inline-block elements.
@-moz-document url-prefix() {
  .parent {
    width: 100%;
    box-sizing: border-box;
  }
}

summary {
  cursor: pointer;
}

details summary>* {
  display: inline-block;
}

// Fix stilying issues with details and summary. IE will ignore these settings.
@supports not (-ms-ime-align: auto) {

  details {
    /*Add the correct display in Edge, IE 10+, and Firefox*/
    display: block;
    border: ($border-line*1.2) solid $primary;
    margin-bottom: $rootsize;

    & summary>h2 {
      display: inline;
    }

    &:hover {
      background: $light;
    }

    summary {
      padding: $rootsize;
      user-select: none;
    }

    .contents {
      padding: ($rootsize/4) $rootsize;

      &>h3 {
        margin-top: 0;
      }
    }
  }
}

// Style internal links that point to not-yet-existing pages 
.invalid-link {
  color: mix($site, white, 80%);
  cursor: help;
}

.invalid-link-brackets {
  color: mix($site, white, 90%);
  cursor: help;
}

//Display two images side by side
.split-layout {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  margin: 0;

  @media screen and ($query) {
    & {
      display: block;
    }
  }
}

figure+div.split-layout,
div.split-layout+figure,
div.split-layout+div.split-layout {
  margin-top: -$line-h;
}



span.direction {
  position: relative;
  font-size: 0.9em;
  bottom: -0.1em;
}

/*Add the correct display in IE 10+*/
template {
  display: none;
}

/*Add the correct display in IE 10*/
[hidden] {
  display: none;
}