# Generated website directory
_site/

# Posts drafts
_drafts/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache
.jekyll-metadata

# Installed Node Packages
node_modules

#Stylelint Config 
.stylelintrc.json

# Yarn Clean Config
.yarnclean

# Webhint report
hint-report

