:root {
  --font-size: clamp(15px, 1.15vw, 20px);
  --bkg-col: #010409;
  --bkg-lighter: #dbdcdd1a;
  --text-col: #dbdcdd;
  --secondary-color: #dbdcddbf;
  --border-color: #dbdcdd54;
  --link-col: #1ea3e6;
  --visited-col: #e6931e;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: clamp(1rem, 2vw, 4rem);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Archivo, sans-serif;
  font-weight: 400;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  background: var(--bkg-col);
  color: var(--text-col);
  font-size: var(--font-size);
  line-height: 1.6;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: var(--spacing-large);
  padding-bottom: var(--spacing-medium);
  overflow-y: hidden;
}
b,
h1,
h2,
h3 {
  font-weight: 700;
  font-size: var(--font-size);
}
a {
  font-weight: inherit;
}
a,
header > h1,
header > h1 > a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}
header p,
section > div > small {
  color: var(--secondary-color);
}
h3 {
  padding-top: var(--spacing-medium);
}
h2,
h3,
li,
p {
  margin-top: 0;
  margin-bottom: var(--spacing-medium);
}
ul {
  padding-left: var(--spacing-medium);
}
a {
  color: var(--link-col);
  position: relative;
  font-weight: 400;
}
a:hover {
  text-decoration-style: dotted;
  text-decoration-color: var(--secondary-color);
}
a:visited {
  text-decoration-color: var(--visited-col);
}
a:focus {
  outline: 2px solid var(--link-col);
  outline-offset: 2px;
}
section,
section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
section.links {
  padding: var(--spacing-large) 0;
  gap: var(--spacing-medium);
}
section.links > div {
  padding-bottom: var(--spacing-medium);
  border-bottom: 1px solid var(--border-color);
}
section.links > a {
  align-self: flex-start;
}
section.links > div:last-child {
  border: none;
}
footer {
  padding-top: var(--spacing-large);
}
.limit-width {
  max-width: 60ch;
}
.dist-from-edges {
  margin: var(--spacing-small);
  padding: var(--spacing-large);
}
.external-link::after {
  content: url(https://francescoimola.com/assets/external-link.svg);
  margin-left: 0.25rem;
  vertical-align: middle;
  display: inline-block;
  width: 0.8em;
  height: auto;
}
a:focus {
  outline: 2px solid var(--link-col);
  outline-offset: 2px;
}
table {
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
}
tr td:first-of-type {
  min-width: clamp(10vw, 33vw, 50vw);
}
td > h3 {
  padding: 0 var(--spacing-large) 0 0;
}
td:last-of-type {
  max-width: 100%;
}
td:last-of-type > p,
td:last-of-type > ul {
  max-width: 60ch;
}
table td {
  padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-small) 0;
  vertical-align: top;
}
table tr:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
@media only screen and (max-width: 42.09em) {
  tr {
    display: block;
  }
  table td {
    border-top-width: 0;
    display: grid;
    grid-template-columns: 1fr;
    text-align: left !important;
    padding: 0;
  }
  td:first-of-type {
    padding-top: 2rem;
  }
  td:last-of-type {
    padding-bottom: var(--spacing-large);
  }
  table {
    border-width: 0;
  }
  tbody tr {
    padding: 0;
  }
  tbody td {
    padding: 0;
  }
  tr:last-child td:last-child {
    border-bottom-width: 0;
  }
}
