<small>SHOW:&nbsp;
  <a href="/" class="internal-link novisited">All</a>&nbsp;&nbsp;
  <menu class="selectors" style="display: inline-block;">
    <button type="button" data-number="1">Design</button>&nbsp;&nbsp;
    <button type="button" data-number="2">Curation</button>&nbsp;&nbsp;
    <button type="button" data-number="3">Creative Direction</button>&nbsp;&nbsp;
    <button type="button" data-number="4">Art</button>
  </menu>
</small>

<div class="category" data-number="1">
  Hallo World
</div>
<div class="category" data-number="2">
  Hallo World
</div>
<div class="category" data-number="3">
  <section>
    <div class="entry">
      <div>
        <small class="revert"><b>TEDx University of Greenwich: Journeys</b><br>2019 - 2021<br><a href="/tedx-greenwich"
            class="internal-link">Details</a>, <a href="https://journeys-tedx.glitch.me/" class="internal-link" target="_blank"
            rel="noopener">Project Link</a></nobr></small>
      </div>
      <div>
        <small class="revert">Working alongside filmmakers and theatre experts, I designed a TEDx sign, a series of
          stage panels, and a lightweight programme website for this hybrid live event/virtual production shoot</small>
      </div>
    </div>
    <div class="samples">
      <a href="assets/tedx/sign_2.jpg" class="internal-link" target="_blank">
        <img src="assets/tedx/sign_2.jpg" alt="View of the sign from the side, pictured in a workshop" loading="lazy">
      </a>
      <a href="assets/tedx/cnc.gif" class="internal-link" target="_blank">
        <img src="assets/tedx/cnc.gif"
          alt="Lopping GIF of the CNC machine imprinting the TED letters on a black MDF board" loading="lazy">
      </a>
      <a href="assets/tedx/TEDx_sign.png" class="internal-link" target="_blank">
        <img id="event_image" src="assets/tedx/TEDx_sign.png"
          alt="Photograph from the event behind the scenes with a person rehearsing their talk" loading="lazy">
      </a>
      <a href="assets/tedx/tedx_site_video.gif" class="internal-link" target="_blank">
        <img src="assets/tedx/tedx_site_video.gif"
          alt="mockup of a browser window showing the TEDx 2021 Programme website." loading="lazy">
      </a>
    </div>
  </section>
</div>
<div class="category" data-number="4">
 Hallo World
</div>