<small>SHOW:&nbsp;
  <a href="/" class="internal-link novisited">All</a>&nbsp;&nbsp;
  <div class="selectors" style="display: inline-block;">
    <button type="button" data-number="1">Design</button>&nbsp;&nbsp;
    <button type="button" data-number="2">Curation</button>&nbsp;&nbsp;
    <button type="button" data-number="3">Creative Direction</button>&nbsp;&nbsp;
    <button type="button" data-number="4">Art</button>
  </div>
</small>

<div class="categories">
  <div class="category" data-number="1">
    <table id="designCategory">
      <tr>
        <th>Elle</th>
        <td>Tantrum</td>
        <td>Tantrum1</td>
        <td>Tantrum2</td>
      </tr>
    </table>
  </div>
  <div class="category" data-number="2">
    <table id="curationCategory">
      <tr>
        <th>Simon</th>
        <td>Ballerina</td>
        <td>Ballerina1</td>
        <td>Ballerina2</td>
      </tr>
    </table>
  </div>
  <div class="category" data-number="3">
    <table id="creativeDirectionCategory">
      <tr>
        <th>Cartesio</th>
        <td>Palindrome</td>
        <td>Palindrome1</td>
        <td>Palindrome2</td>
      </tr>
    </table>
  </div>
  <div class="category" data-number="4">
    <table id="artCategory">
      <tr>
        <th>Oh Baby</th>
        <td>LCD</td>
        <td>LCD1</td>
        <td>LCD2</td>
      </tr>
    </table>
  </div>
</div>

<!-- <table class="projects">
  <tr class="curation">
    <th>Elle</th>
    <td>662 13 899</td>
  </tr>
  <tr class="design">
    <th>Dan</th>
    <td>275 72 124</td>
  </tr>
  <tr class="creative-dir">
    <th>Thom</th>
    <td>555 77 855</td>
  </tr>
  <tr class="art">
    <th>Samantha</th>
    <td>005 77 671</td>
  </tr>
</table> -->