<small>SHOW:&nbsp;
  <a href="/" class="internal-link novisited">All</a>&nbsp;&nbsp;
  <menu class="selectors" style="display: inline-block;">
    <button type="button" data-number="1">Design</button>&nbsp;&nbsp;
    <button type="button" data-number="2">Curation</button>&nbsp;&nbsp;
    <button type="button" data-number="3">Creative Direction</button>&nbsp;&nbsp;
    <button type="button" data-number="4">Art</button>
  </menu>
</small>

<div class="category" data-number="1">
  <section>
    <div class="entry">
      <div>
        <small class="revert"><b>TEDx University of Greenwich: Journeys</b><br>2019 - 2021<br><a
            href="https://journeys-tedx.glitch.me/" target="_blank" rel="noopener">Project Link</a></nobr></small>
      </div>
      <div class="info">
        <small class="revert">Working alongside filmmakers and theatre experts, I designed a TEDx sign, a series of
          stage panels, and a lightweight programme website for this hybrid live event/virtual production shoot</small>
      </div>
    </div>
    <div class="samples">
      <img src="assets/tedx/sign_2.jpg" alt="View of the sign from the side, pictured in a workshop" loading="lazy">
      <img src="assets/tedx/cnc.gif"
        alt="Lopping GIF of the CNC machine imprinting the TED letters on a black MDF board" loading="lazy">
      <img id="event_image" src="assets/tedx/TEDx_sign.png"
        alt="Photograph from the event behind the scenes with a person rehearsing their talk" loading="lazy">
      <img src="assets/tedx/tedx_site_video.gif"
        alt="mockup of a browser window showing the TEDx 2021 Programme website." loading="lazy">
    </div>
  </section>
  <section>
    <div class="entry">
      <div>
        <small class="revert"><b>Business of Film</b><br>2021<br><a href="https://journeys-tedx.glitch.me/"
            target="_blank" rel="noopener">Project Link</a></nobr></small>
      </div>
      <div class="info">
        <small class="revert">I developed a series of videos and graphics for a new asynchronous course on the "Business
          of Film" for Film & TV students at the University of Greenwich.
        </small>
      </div>
    </div>
    <div class="samples">
      <video poster="assets/ftv/bof_still_frame.jpg" preload="none" controls loop playsinline>
        <source src="assets/ftv/bof_video.mp4" type="video/mp4">
        <p>Your browser does not support the video tag</p>
      </video>
      <img src="assets/ftv/bof_moodle.png"
        alt="Graphic design reading 'Set your career in motion: Business of Film' alongside shapes of different colours and the University of Greenwich logo"
        loading="lazy">
    </div>
  </section>
</div>
<div class="category" data-number="2">
  Hallo World
</div>
<div class="category" data-number="3">
  Hallo World
</div>
<div class="category" data-number="4">
  Hallo World
</div>