<details>
    <summary>
        <h2>&nbsp;Art &amp; Music</h2>
    </summary>
    <div class="contents">
        <p role="note">
            <small>A selection of works of art and music. This archive is in
                constant update and I will gradually add projects details.</small>
        </p>
        <p>
            <b>How to feel more at home</b>
            <small class="revert">Expanded Poem and Photography</small>
            <small class="revert">2020 <nobr>&#x2736; <a href="/feel-more-at-home" class="internal-link">Details</a>,</nobr> <a
                href="https://francescoimola.github.io/htfmat/" target="_blank" rel="noopener noreferrer">Project
                link</a></small>
        </p>
        <p>
            <b>Pattern Action</b>
            <small class="revert">Sound Composition</small>
            <small class="revert">2017 <nobr>&#x2736; <a href="https://francescoimola.bandcamp.com/track/pattern-action" target="_blank"
                    rel="noopener noreferrer">Listen</a></nobr></small>
        </p>
        <p>
            <b>Past Archives</b>
            <small class="revert">Mixtape</small>
            <small class="revert">2017 <nobr>&#x2736; <a href="https://francescoimola.bandcamp.com/album/past-archives" target="_blank"
                    rel="noopener noreferrer">Listen</a></nobr></small>
        </p>
        <p>
            <b>Buildings 1 &amp; 2</b>
            <small class="revert">EP</small>
            <small class="revert">2017 <nobr>&#x2736; <a href="https://francescoimola.bandcamp.com/album/buildings-1-2" target="_blank"
                    rel="noopener noreferrer">Listen</a></nobr></small>
        </p>
    </div>
</details>