<details>
    <summary><span class="s_title">Be my guest</span></summary>
    <label><input type="checkbox">Nice to meet you</label><br>
    <label><a href="https://www.notion.so/franimola/Guest-book-cb4fb13999d94a848ddc5c7e56c3d57a" target="_blank" rel="noopener noreferrer"><input type="checkbox" value="link">Sign the guestbook</a></label></a><br>
    <label><a href="https://ko-fi.com/francescoimola" target="_blank" rel="noopener noreferrer"><input type="checkbox" value="link" class="last">Leave a gift</a></label>
</details>