<details id="detailsC">
    <summary><h2>&nbsp;Contacts</h2></summary>
    <div class="contents" id="contact">
    <ul>
        <li>frn.imola@gmail.com</li>
        <li><a href="https://twitter.com/frn_imola" target="_blank" rel="noopener noreferrer">Twitter</a></li>
        <li><a href="https://www.are.na/francesco-imola-2o2ng4qooxm/" target="_blank" rel="noopener noreferrer">Are.na</a></li>
    </ul>
    <p>My work is supported by the generosity of those who believe in its value. Please consider <a href="https://ko-fi.com/francescoimola" target="_blank" rel="noopener noreferrer">buying me a coffe</a>.
    </div>
</details>

<script>
    let contacts = document.getElementById("detailsC");
    let startPoint = document.getElementById("inTouch");

    startPoint.onclick = function () {
      if (contacts !== undefined && contacts.open) {
        return true;
      } else {
        contacts.toggleAttribute("open");
      }
    }
</script>
