<details>
    <summary><h2>Contact</h2></summary>
    <ul>
        <li>frn [dot] imola [@] gmail [dot] com</li>
        <li><a href="https://twitter.com/frn_imola" target="_blank" rel="noopener" rel="noreferrer">Twitter</a></li>
        <li><a href="https://twitter.com/frn_imola" target="_blank" rel="noopener" rel="noreferrer">The Dots</a></li>
    </ul>
    <p>My work is supported by the generosity of those who believe in its value. Please consider <a href="https://ko-fi.com/francescoimola" target="_blank" rel="noopener" rel="noreferrer">buying me a coffe</a>.
</details>