<details>
    <summary>
        <h2>&nbsp;Curatorial work</h2>
    </summary>
    <div class="contents">
        <p role="note">
            <small>A selection of digital and print design projects. This archive is in
                constant update and I will gradually add projects details.</small>
        </p>
        <p>
            <b>Feed Your Demons and Meet the Ally</b>
            <small class="revert">Exhibition</small>
            <small class="revert">2020 <nobr>&#x2736; <a href="/your-demons" class="internal-link">Details</a></nobr></small>
        </p>
        <p>
            <b>Everything You See Is In The Past</b>
            <small class="revert">Curatorial Project</small>
            <small class="revert">2020 <nobr>&#x2736; <a href="/everything-you-see" class="internal-link">Details</a>,</nobr> <a
                href="https://arena-attachments.s3.amazonaws.com/7413063/c6f7ebaf91a84dd94ae368676d6010a2.pdf?1590356387"
                target="_blank" rel="noopener noreferrer">Catalogue</a></small>
        </p>
         <p>
            <b>University of Greenwich Galleries</b>
            <small class="revert">Curatorial Projects</small>
            <small class="revert">2018 - 2020 <nobr>&#x2736; <a href="/greenwich-galleries" class="internal-link">Details</a></nobr></small>
        </p>
        <p>
            <b>New Alumni '19</b>
            <small class="revert">Exhibition</small>
            <small class="revert">2019 <nobr>&#x2736; <a href="/new-alumni" class="internal-link">Details</a></nobr></small>
        </p>
    </div>
</details>