<details>
  <summary><h2>&#128220; CV</h2></summary>
  <h3>Education</h3>
  <small style="color: revert;">
    <p>2021-Present<br><i>International Curatorial Program</i> 
    <br>Node Center for Curatorial Studies, Online</p>
    <p>2017-2020<br><a href="assets\graduation\graduation.jpg" target="_blank"><i>Digital Arts, BA Hons</i></a>
    <br>University of Greenwich, London</p>
    <p>2016-2017<br><i>Music Technology</i> 
    <br>City of Liverpool College, Liverpool</p>
  </small>
  <h3>Experience</h3>
  <small style="color: revert;">
    <p>2019-2021<br><i>Graphic Designer, Set Designer, Props Builder</i> 
    <br>TEDx University of Greenwich, London</p>
    <p>2020-Present<br><i>Editor, Designer, Event Producer</i> 
    <br>University of Greenwich, London</p>
    <p>2018-2020<br><a href="/greenwich-galleries" class="internal-link"><i>Gallery and Exhibitions Assistant</i></a> 
    <br>University of Greenwich Galleries, London</p>
    <p>2017<br><a href="https://www.getintothis.co.uk/search/francesco+imola" rel="noopener noreferrer" target="_blank"><i>Music Photographer</i></a>
    <br>Getintothis, Liverpool</p>
    <p>2015-2018<br><i>Musician and Music Composer</i> 
    <br>Freelance and Self-initiated projects</p>
  </small>
  <p>Comprehensive CV available on request.</p>
</details>
