<details>
  <summary>
    <h2>&nbsp;CV</h2>
  </summary>
  <div class="contents">
  <h3>Skills</h3>
  <ul>
  <nobr><small class="revert"><li>Curation</nobr> (Events, Exhibitions, Interventions)</li></small>
  <nobr><small class="revert"><li>Community Management</nobr> (Are.na, Notion, Slack, Discord)</li></small>
  <nobr><small class="revert"><li>Web Development</nobr> (HTML, CSS)</li></small>
  <nobr><small class="revert"><li>CMS</nobr> (WordPress, Squarespace)</li></small>
  <nobr><small class="revert"><li>Writing</nobr> (Content, Blogs, Articles, Catalogues)</li></small>
  <nobr><small class="revert"><li>Creative Coding</nobr> (p5.js, Twine, JS)</li></small>
  <nobr><small class="revert"><li>Photography</nobr> (Digital, Film, Lightroom, Photoshop)</li></small>
  <nobr><small class="revert"><li>Graphic Design</nobr> (Illustator, InDesign)</li></small>
  <nobr><small class="revert"><li>Audio Production</nobr> (Sound Design, Music, Editing)</li></small>
  </ul>
    <h3>Education</h3>
    <p>
      <small class="revert">2021 - Present</small>
      <b>International Curatorial Program</b>
      <small class="revert">Node Center for Curatorial Studies</small>
      <p>
        <small class="revert">2017 - 2020</small>
        <b>Digital Arts, BA Hons</b>
        <small class="revert">University of Greenwich</small>
      </p>
      <p>
        <small class="revert">2016 - 2017</small>
        <b>Music Technology</b>
        <small class="revert">City of Liverpool College</small>
      </p>

      <h3>Experience</h3>

      <p>
        <small class="revert">2019 - 2021</small>
        <b>Graphic, Web, and Set Designer</b>
        <small class="revert">TEDx University of Greenwich</small>
      </p>
      <p>
        <small class="revert">2020 - 2021</small>
        <b>Programmes Assistant</b>
        <small class="revert">University of Greenwich</small>
      </p>
      <p>
        <small class="revert">2018 - 2020</small>
        <b>Gallery Assistant</b>
        <small class="revert">University of Greenwich Galleries</small>
      </p>
      <p>
        <small class="revert">2017</small>
        <b>Concert Photographer</b>
        <small class="revert">Getintothis</small>
      </p>
      <p>
        <small class="revert">2015 - 2018</small>
        <b>Musician and Music Composer</b>
        <small class="revert">Freelance and Self-initiated projects</small>
      </p>
      <p>A comprehensive CV is available on request.</p>
  </div>
</details>