<details>
  <summary><h2>CV</h2></summary>
  <h3>Education</h3>
  <div class="small">
    <p>2021-Present<br><i>International Curatorial Program</i> 
    <br>Node Center for Curatorial Studies, Online</p>
    <p>2017-2020<br><i>Digital Arts, BA Hons</i> 
    <br>University of Greenwich, London</p>
    <p>2016-2017<br><i>Music Technology</i> 
    <br>City of Liverpool College, Liverpool</p>
  </div>
  <h3>Experience</h3>
  <div class="small">
    <p>2020-Present<br><i>Graduate Teaching Demonstrator</i> 
    <br>University of Greenwich, London</p>
    <p>2018-2020<br><i>Gallery and Exhibitions Assistant</i> 
    <br>University of Greenwich Galleries, London</p>
    <p>2017<br><i>Music Photographer</i> 
    <br>Getintothis, Liverpool</p>
  </div>
  <h3>Awards</h3>
  <div class="small">
    <p>2020<br><i>Outstanding Achievement in Digital Arts</i>
    <br>University of Greenwich, London</p>
  </div>
  <p>Comprehensive CV available on request.</p>
</details>
