<details>
    <summary>
        <h2>&nbsp;Design &amp; Photos</h2>
    </summary>
    <div class="contents">
        <p role="note">
            <small>A selection of design and photography projects. This archive is in
                constant update and I will gradually add projects details.</small>
        </p>
        <p>
            <b>TEDx University of Greenwich</b>
            <small class="revert">Web, Set, and Graphic Design</small>
            <small class="revert">2019 - 2021 <nobr>&#x2736; <a href="/tedx-greenwich" class="internal-link">Details</a></nobr></small>
        </p>
        <p>
            <b>Film &amp; TV Hub</b>
            <small class="revert">Information Architecture, Community Management, and Content Design</small>
            <small class="revert">2021 <nobr>&#x2736; <a href="/ftv-hub" class="internal-link">Details</a></nobr></small>
        </p>
        <p>
            <b>Business of Film</b>
            <small class="revert">Video Editing and Graphic Design</small>
            <small class="revert">2021 <nobr>&#x2736; <a href="/business-of-film" class="internal-link">Details</a></nobr></small>
        </p>
        <p>
            <b>Virtual Production: How to Be Good</b>
            <small class="revert">Photography, Digital Marketing, and Content Design</small>
            <small class="revert">2021 <nobr>&#x2736; <a href="/virtual-production" class="internal-link">Details</a></nobr></small>
        </p>
    </div>
</details>