<!--  Load Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
<!--  Run Highlight.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
<script>
    hljs.highlightAll();
</script>
<!-- Makes div clickable -->
<script>
    $(".grid-child").not(".works").click(function () {
        window.location = $(this).find("a").attr("href");
        return false;
    });
</script>