<!--  Load Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
<!--  Load Highlight.js -->
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/stackoverflow-dark.min.css">
<!--  Run Highlight.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
<script>
    hljs.highlightAll();
</script>
<!-- Lazyloads images (when called by class="lazyload") -->
<script type="text/javascript" src="js/lazysizes.min.js" async=""></script>
<!-- Framework to create Masonry -->
<script type="text/javascript" src="js/salvattore.min.js"></script>
<!-- Makes div clickable -->
<script>
    $(".backlink-box").click(function () {
        window.location = $(this).find("a").attr("href");
        return false;
    });
</script>