<div id="masonry" data-columns>
    <div>
        <a class="internal-link" href="/feelmoreathome">
            <img alt="Screenshot from 'How to feel more at home' website" loading="lazy"
                data-src="assets\hftmah\htfmah3.png" class="lazyload" />
            <h3>How to feel more at home</h3>
            <p>Poetry, Photography, Sound Design</p>
        </a>
    </div>
    <div>
        <a class="internal-link" href="/feedyourdemons">
            <img alt="Documentation of 'Feed Your Demons and Meet the Ally': website screenshot, ZIP folder, photograph from opening event"
                loading="lazy" data-src="assets\feedyourdemons\feed-your-demons_1.jpeg" class="lazyload" />
            <h3>Feed Your Demons and Meet the Ally</h3>
            <p>Curation, Writing, Web Design</p>
        </a>
    </div>
    <div>
        <a class="internal-link" href="/everythingyousee">
            <img alt="Cover of the Catalogue of the Eveything You See Is In The Past" loading="lazy"
                data-src="assets/everythingyousee/altmockup.png" class="lazyload" />
            <h3>Everything You See Is In The Past</h3>
            <p>Curation, Writing, Web Design</p>
        </a>
    </div>
    <div>
        <a class="internal-link" href="/exhibitiontitle">
            <img alt="Screenshot from 'How to feel more at home' website" loading="lazy"
                data-src="assets\hftmah\htfmah3.png" class="lazyload" />
            <h3>How to feel more at home</h3>
            <p>Editorial, Design, System, Video Campaign</p>
        </a>
    </div>
    <div>
        <a class="internal-link" href="/how-to-feel-more-at-home">
            <img alt="Screenshot from 'How to feel more at home' website" loading="lazy"
                data-src="assets\hftmah\htfmah3.png" class="lazyload" />
            <h3>How to feel more at home</h3>
            <p>Editorial, Design, System, Video Campaign</p>
        </a>
    </div>
    <div>
        <a class="internal-link" href="/how-to-feel-more-at-home">
            <img alt="Screenshot from 'How to feel more at home' website" loading="lazy"
                data-src="assets\hftmah\htfmah3.png" class="lazyload" />
            <h3>How to feel more at home</h3>
            <p>Editorial, Design, System, Video Campaign</p>
        </a>
    </div>
    <div>
        <a class="internal-link" href="/how-to-feel-more-at-home">
            <img alt="Screenshot from 'How to feel more at home' website" loading="lazy"
                data-src="assets\hftmah\htfmah3.png" class="lazyload" />
            <h3>How to feel more at home</h3>
            <p>Poetry, Coding, Web Design, Sound Design</p>
        </a>
    </div>
</div>