<div class="grid-container">
    <div class="htfmat">
        <div class="one">
            <img alt="Screenshot from 'How to feel more at home' website" loading="lazy" data-src="assets\hftmah\htfmah3.png" class="lazyload" />
        </div>
        <div class="two">
            <a class="internal-link" href="/feelmoreathome">How to feel more at home</a>
            <p>Poetry, Photography, Sound Design</p>
            <p>2020</p>
        </div>
    </div>
    <div class="feedyour">
        <div class="three">
            <img alt="Documentation of 'Feed Your Demons and Meet the Ally': website screenshot, ZIP folder, photograph from opening event" loading="lazy" data-src="assets\feedyourdemons\feed-your-demons_1.jpeg" class="lazyload" />
        </div>
        <div class="four">
            <a class="internal-link" href="/feedyourdemons">Feed Your Demons and Meet the Ally</a>
            <p>Curation, Writing, Web Design</p>
            <p>2020</p>
        </div>
    </div>
    <div class="everythingyou">
        <div class="five">
            <img alt="Cover of the Catalogue of the Eveything You See Is In The Past" loading="lazy"
            data-src="assets/everythingyousee/altmockup.png" class="lazyload" />
        </div>
        <div class="six">
            <a class="internal-link" href="/everythingyousee">Everything You See Is In The Past</a>
            <p>Curation, Writing, Web Design</p>
            <p>2020</p>
        </div>
    </div>
</div>