<h2>Projects &amp; Exhibitions</h2>
<div class="list">
    <p role="note">2020</p>
    <ul>
        <li><b>How to feel more at home</b><br>Expanded poem and photography | <a href="/feel-more-at-home" class="internal-link">Details</a>, <a href="https://francescoimola.github.io/htfmat/">Project link</a></li>
        <li><b>Feed Your Demons and Meet the Ally</b><br>Exhibition | <a href="/feed-your-demons" class="internal-link">Details</a></li>
        <li><b>Everything You See Is In The Past</b><br>Curatorial project and exhibition | <a href="/everything-you-see" class="internal-link">Details</a>, <a href="https://arena-attachments.s3.amazonaws.com/7413063/c6f7ebaf91a84dd94ae368676d6010a2.pdf?1590356387">Catalogue</a></li>
    </ul>
    <p role="note">2019</p>
    <ul>
        <li><b>The Exhibition Title Bot</b><br>Twitter Bot | <a href="/exhibition-title" class="internal-link">Details</a></li>
        <li><b>Three Years</b><br>An exercise in uncreative writing | <a href="/three-years" class="internal-link">Details</a>, <a href="assets/three_years/Three_Years.pdf#view=FitV&pagemode=thumbs">Read</a></li>
    </ul>
    <p role="note">2018</p>
    <ul>
        <li><a href="/gug-looking" class="internal-link">Gug and Looking</a><br>Mixed Media |</li>
        <li><a href="/in-the-aisles" class="internal-link">In The Aisles</a><br>Interactive Poster |</li>
    </ul>
</div>
