<details>
    <summary>
        <h2>&nbsp;Selected Projects</h2>
    </summary>
    <div class="contents">
        <p role="note">
            <small>A selection of recent URL and IRL works, projects, exhibition, and interventions. This archive is in
                constant update, as I gradually add projects details.</small>
        </p>
        <p>
            <b>Room 101</b>
            <small class="revert">Listening experience for Magda Zoledz's compositions</small>
            <small class="revert">2019 <nobr>&#x2736; <a href="/exhibition-title" class="internal-link">Details</a>
                </nobr></small>
        </p>
        <p>
            <b>How to feel more at home</b>
            <small class="revert">Expanded poem and photography</small>
            <small class="revert">2020 <nobr>&#x2736; <a href="/feel-more-at-home" class="internal-link">Details</a>,</nobr> <a
                href="https://francescoimola.github.io/htfmat/" target="_blank" rel="noopener noreferrer">Project
                link</a></small>
        </p>
        <p>
            <b>Feed Your Demons and Meet the Ally</b>
            <small class="revert">Exhibition</small>
            <small class="revert">2020 <nobr>&#x2736; <a href="/your-demons" class="internal-link">Details</a></nobr></small>
        </p>
        <p>
            <b>Everything You See Is In The Past</b>
            <small class="revert">Curatorial project and exhibition</small>
            <small class="revert">2020 <nobr>&#x2736; <a href="/everything-you-see" class="internal-link">Details</a>,</nobr> <a
                href="https://arena-attachments.s3.amazonaws.com/7413063/c6f7ebaf91a84dd94ae368676d6010a2.pdf?1590356387"
                target="_blank" rel="noopener noreferrer">Catalogue</a></small>
        </p>
        <p>
            <b>University of Greenwich Galleries</b>
            <small class="revert">Curatorial projects</small>
            <small class="revert">2018 - 2020 <nobr>&#x2736; <a href="/greenwich-galleries" class="internal-link">Details</a></nobr></small>
        </p>
        <p>
            <b>New Alumni '19</b>
            <small class="revert">Exhibition</small>
            <small class="revert">2019 <nobr>&#x2736; <a href="/new-alumni" class="internal-link">Details</a></nobr></small>
        </p>
        <p>
            <b>Pattern Action</b>
            <small class="revert">Sound composition</small>
            <small class="revert">2017 <nobr>&#x2736; <a href="https://francescoimola.bandcamp.com/track/pattern-action" target="_blank"
                    rel="noopener noreferrer">Listen</a></nobr></small>
        </p>
        <p>
            <b>Past Archives</b>
            <small class="revert">Mixtape of early compositions</small>
            <small class="revert">2017 <nobr>&#x2736; <a href="https://francescoimola.bandcamp.com/album/past-archives" target="_blank"
                    rel="noopener noreferrer">Listen</a></nobr></small>
        </p>
        <p>
            <b>Buildings 1 &amp; 2</b>
            <small class="revert">Extended play record</small>
            <small class="revert">2017 <nobr>&#x2736; <a href="https://francescoimola.bandcamp.com/album/buildings-1-2" target="_blank"
                    rel="noopener noreferrer">Listen</a></nobr></small>
        </p>
    </div>
</details>