<h2>Selected Projects</h2>
<div class="list">
    <p role="note">2020</p>
    <ul>
        <li><a href="/feelmoreathome" class="internal-link">How to feel more at home</a></li>
        <li><a href="/feedyourdemons" class="internal-link">Feed Your Demons and Meet the Ally</a></li>
        <li><a href="/everythingyousee" class="internal-link">Everything You See Is In The Past</a></li>
    </ul>
    <p role="note">2019</p>
    <ul>
        <li><a href="/exhibitiontitle" class="internal-link">Exhibition Title Bot</a></li>
        <li><a href="/threeyears" class="internal-link">Three Years</a></li>
    </ul>
    <h2>Archive</h2>
    <p role="note">2017, 2021</p>
    <ul>
        <li><a href="/netart" class="internal-link">Net Art</a></li>
    </ul>
</div>