<!--  Load GoogleFont -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet"> 
<!--  Load CSS -->
<link type="text/css; charset=utf-8" href="{{ site.baseurl }}/styles.css" rel="stylesheet" />
<!--  Load FontAwesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/solid.css"
    integrity="sha384-6qO6EOFIDfvv6uzAzozX/BvMu/qkIIHxWYOVMjpVjX+NtPuNyd3YiOEflKIIV2ka" crossorigin="anonymous" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/fontawesome.css"
    integrity="sha384-Hx1dya9ptAdKu2hLNR5C2Cwgm+wCfwD0VMGE6jk5OUxxa9I58YfxOCwEtRog+3wk" crossorigin="anonymous" />