<!--  Load GoogleFont -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<!--  Preload Karrik Font -->
<link rel="preload" href="assets\webfonts\TFF\Karrik-Regular.ttf" as="font" crossorigin="anonymous">
<link rel="preload" href="assets\webfonts\WOFF\Karrik-Regular.woff" as="font" crossorigin="anonymous">
<link rel="preload" href="assets\webfonts\WOFF2\Karrik-Regular.woff2" as="font" crossorigin="anonymous">
<!--  Load CSS (deferred)-->
<link rel="preload" href="{{ site.baseurl }}/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ site.baseurl }}/styles.css"></noscript>