<details>
    <summary>
        <h2>&nbsp;This site</h2>
    </summary>
    <div class="contents">
        <p>In this site I gather my work, ideas, hobbies, goals, and passions. It is
            a greenhouse where new ideas grow and a portfolio of past and
            work-in-progress projects.</p>
        <p>I built it adopting <a href="https://www.sustainablewebmanifesto.com/" target="_blank"
                rel="noopener noreferrer">sustainable web design</a> practices. The open-source typeface in use is <a
                href="https://fonts.floriankarsten.com/space-grotesk" target="_blank" rel="noopener noreferrer">Space Grotesk</a> by
            Květoslav Bartoš for Florian Karsten Typefaces. For now, there is no
            overarching index, so you’ll need to follow a link to some starting point — <nobr><a href="/top-of-my-mind"
                    class="internal-link">like this</a> &#x2736;</nobr>
        </p>
    </div>
</details>