<table class="work">
<tbody>
  <tr>
    <td class="description first">About</td>
    <td class="content first">{{ include.text }}</td>
  </tr>
  <tr>
    <td class="description">Images</td>
    <td class="content">
      <div class="row">{{ include.img }}</div>
    </td>
  </tr>
  <tr>
    <td class="description">Links</td>
    <td class="content">{{ include.connections }}</td>
  </tr>
  <tr>
    <td class="description">License</td>
    <td class="content">{{ include.rights }}</td>
  </tr>
</tbody>
</table>