//Colors
$site-background: #031026;
$primary: mix($site-background, white, 14%);
$links: #1ea3e6;
$color-box-background: mix($site-background, white, 88%);
$lighter: mix($site-background, white, 50%);

// Measurements
$size: #{"min(max(16px, 1.2vw), 20px);"};
$rootsize: 1em;
$line-h: $rootsize+($rootsize * 0.40);
$small: #{"min(max(14px, 0.6vw), 16px);"};

// Time
$transtime: 0.3s;

// Font Family
$font-family: "Inter",
-apple-system,
BlinkMacSystemFont,
Segoe UI,
sans-serif,
Apple Color Emoji,
Segoe UI Emoji,
Segoe UI Symbol;

@font-face {
  font-family: "Karrik-regular";
  src: url("assets/webfonts/WOFF/Karrik-Regular.woff") format("woff"),
    url("assets/webfonts/WOFF2/Karrik-Regular.woff2") format("woff2"),
    url("assets/webfonts/TFF/Karrik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$mono-family: "DM Mono",
monospace;

$regular: 400;
$bold: 700;
$extra-bold: 800;

/* //Debug
*{ border: 1px solid pink; }  */

* {
  box-sizing: border-box;
  z-index: 0;
  border-color: $primary;
}

html {
  font-size: $size;
  margin: 0;
  padding: 0;
}

body {
  background-color: $site-background;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  height: 100vh;
  font-size: $rootsize;
  font-family: $font-family;
  font-display: swap;
  line-height: $line-h;
  color: $primary;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  text-rendering: auto;
}

.box {
  padding: ($line-h / 4) $rootsize;
  background-color: $site-background;
  width: auto;
  min-height: 50vh;
  border: 0.3em solid $primary;
  border-style: inset;
}

.custom_box {
  padding: ($line-h / 4) $rootsize;
  background-color: $site-background;
  width: auto;
  height: 100%;
  border: 0.3em solid $primary;
  border-style: inset;
}

p {
  display: block;
  margin-bottom: $line-h;
}

h1,
h2,
h3 {
  font-weight: $bold;
  line-height: $line-h * 0.7;
  margin: $line-h 0 ($line-h / 2);
  font-family: "Karrik-regular";
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2em;

  &.custom_margin {
    margin: ($line-h / 4) 0;
  }
}

h3 {
  font-size: 1.2em;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: $bold;
}

a {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: $links;
  -webkit-text-decoration-color: $links;
  text-decoration-color: $links;
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.15em;
  transition: all ($transtime / 2) ease-in-out;

  &:hover,
  &:focus {
    color: $primary;
  }

  &:active {
    background-color: $links;
  }

  &:after {
    position: relative;
    font-size: calc(6px + 0.2vw);
    font-family: "Font Awesome 5 Free";
    content: "\00a0\00a0\f360""";
    line-height: 0;
    color: $lighter;
    padding-right: 0.3em;
    margin: 0;
    margin-left: -0.05em;
  }

  &.internal-link:after {
    display: none;
  }

  &:visited {
    -webkit-text-decoration-color: #e6931e;
    text-decoration-color: #e6931e;
  }
}

small {
  display: block;
  font-size: $small;
  color: $lighter;
  line-height: $line-h;
}

footer {
  margin: ($line-h * 2) 0 $line-h;
  padding: 0 $rootsize;
}

nav {

  #breadcrumbs {
    margin-top: $line-h / 2;

    h1,
    h2 {
      display: inline;
      font-size: $small;
      font-weight: $regular;
    }
  }

  a:visited {
    -webkit-text-decoration-color: $links;
    text-decoration-color: $links;
  }
}

blockquote {
  margin: 0;
  padding: $rootsize / 1.25;
  background: $color-box-background;

  p:first-child {
    margin: 0;
  }
}

ul,
ol {
  line-height: $line-h * 1.2;
  list-style-position: outside;
  margin: 0 0 $rootsize;
  padding: 0 0 0 1em;
}

article h2:first-of-type {
  margin-top: $line-h / 2;
}

nobr {
  white-space: nowrap;
}

input {
  margin: 0 0.4em 0;
}

img {
  margin: ($line-h * 1.5) 0;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  -webkit-animation: fadeIn ease $transtime;
  animation: fadeIn ease $transtime;
  border-radius: 0.2em;

  &+small {
    margin-top: -($line-h * 1.5);
  }
}

// Fix stilying issues with details and summary. IE will ignore these settings.
@supports not (-ms-ime-align: auto) {

  details summary {
    margin: $line-h 0;

    h1,
    h2 {
      cursor: pointer;
    }
  }

  details summary h1:first-of-type,
  details summary h2:first-of-type,
  details summary h3:first-of-type,
  details summary nav {
    display: inline;
  }
}

div.custom_margin {
  margin: $line-h 0;
}

.parent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  .item:nth-child(1) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width: 50%;
    min-width: 50%;
  }

  .item:nth-child(2) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    min-width: 50%;
  }
}

/*
  Legacy Firefox implementation treats all flex containers
  as inline-block elements.
*/

@-moz-document url-prefix() {
  .parent {
    width: 100%;
    -moz-box-sizing: border-box;
  }

}

.crosshair {
  cursor: crosshair;
}

.pointer {
  cursor: pointer;
}

input,
label {
  cursor: pointer;
}

.invalid-link {
  color: mix($site-background, white, 80%);
  cursor: help;
}

.invalid-link-brackets {
  color: mix($site-background, white, 90%);
  cursor: help;
}

@media screen and (max-width: 834px) {
  .parent {
    flex-wrap: wrap;

    .item:nth-child(1),
    .item:nth-child(2) {
      width: 100%;
      max-width: 100%;
    }
  }
}