//Colors
$site-background: hsl(218, 87%, 8%);
$primary: mix($site-background, white, 12%);
$links: hsl(200, 80%, 51%);
$color-box-background: mix($site-background, white, 88%);
$lighter: mix($site-background, white, 50%);

// Measurements
$rootsize: 1em;
$line-h: $rootsize+($rootsize * 0.25);
$page-margins: $line-h * 0.9;
$small: calc(10.5px + 1.5vw);
$smaller: calc(11px + 0.3vw);
$gridgap: $rootsize * 2;
$under-line: $rootsize * 0.08;
$border-radius: $rootsize * 0.25;
$margin: $rootsize * 4;

// Time
$transtime: 0.5s;

// Font Family
$font-family: "DM Sans",
-apple-system,
BlinkMacSystemFont,
Segoe UI,
sans-serif,
Apple Color Emoji,
Segoe UI Emoji,
Segoe UI Symbol;

$mono-family: "DM Mono",
monospace;

/* //Debug
*{ border: 1px solid pink; }  */

* {
  box-sizing: border-box;
  z-index: 0;
}

html {
  line-height: 1.15;
  font-size: 42px;
  font-size: #{"min(max(16px, 4vw), 32px);"};
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: $site-background;
  margin: 0;
  padding: 0;
  font-size: $rootsize;
  font-family: $font-family;
  font-display: swap;
  font-weight: 500;
  line-height: $line-h;
  color: $primary;
  overflow: initial;
  -webkit-animation: fadeIn ease $transtime;
  animation: fadeIn ease $transtime;
}

.wrapper {
  padding-right: $line-h;
  padding-left: $line-h;
  max-width: 100vw;

  .box {
    display: grid;
    grid-gap: 0;
    margin-bottom: $line-h;

    .widefooter {
      display: none;
      visibility: hidden;
    }
  
    @media (min-width: 769px) {
      grid-template-columns: 3fr 1fr;
      grid-gap: $gridgap;

      .mobilefooter {
        display: none;
        visibility: hidden;
      }

      .widefooter {
        display: initial;
        visibility: visible;
      }
    }

    section br {
      margin-bottom: 0;
    }
  
    section p:last-child {
      margin-bottom: 0;
    }
  
    & section p {
      margin-top: 0;
    }
  }
}

p {
  font-weight: 500;
  font-style: normal;
  line-height: inherit;
  margin-top: $line-h / 2;
  margin-bottom: $line-h / 1.5;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: initial;
  font-size: inherit;
  font-weight: 500;
  font-style: normal;
  overflow-wrap: break-word;
  margin-top: 0;
}

h3 {
  &:before {
    content: "—\00A0";
  }

  &.mentiontitle {
    margin-top: 0.5em;

    &::before {
      display: none;
      visibility: hidden;
    }
  }
}

i,
em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;

  @supports (-webkit-text-decoration-skip: ink) {
    & {
      -webkit-text-decoration-skip: ink;
    }
  }

  @supports (text-decoration-skip-ink: auto) {
    & {
      -webkit-text-decoration-skip: ink;
      text-decoration-skip-ink: auto;
    }
  }

  color: $links;
  -webkit-text-decoration-color: $links;
  text-decoration-color: $links;

  @supports (text-decoration-thickness: 1px) {
    & {
      text-decoration-thickness: $under-line;
    }
  }

  @supports (text-underline-offset: 0.10em) {
    & {
      text-underline-offset: 0.10em;
    }
  }

  &:hover,
  &:focus {
    color: $primary;
    text-decoration: underline;
    -webkit-text-decoration-color: $links;
    text-decoration-color: $links;
  }

  transition: all ($transtime / 2) ease-in-out;

  &:active {
    background-color: $links;
  }

  &:after {
    position: relative;
    font-size: calc(7px + 0.5vw);
    font-family: "Font Awesome 5 Free";
    content: "\00a0\00a0\f360""";
    line-height: 0;
    color: $lighter;
    padding-right: 0.3em;
    margin: 0;
    margin-left: -0.05em;
  }

  &.internal-link:after,
  &.imga:after {
    display: none;
  }

  img {
    transition: opacity ($transtime / 2) ease-in-out;
  }

  img:hover,
  img:active,
  img:focus {
    opacity: 50%;
  }
}

small {
  font-size: $small;
  color: $lighter;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: $rootsize;
  margin-bottom: $line-h;
  color: $lighter;

  p {
    line-height: $line-h * 1.5;
    font-size: $smaller;
    margin-top: 0;
    margin-bottom: 0;
  }
}

hr {
  width: 100%;
  border: $under-line dotted $lighter;
  border-style: none none dotted;
  height: auto;
  margin-bottom: $line-h / 2;
  box-sizing: content-box;
  -webkit-animation: fadeIn ease 1s;
  animation: fadeIn ease 1s;
}

nav {
  display: inline-block;
  font-family: $mono-family;
  padding: $line-h $page-margins $line-h $page-margins;
  h1 {
    margin-left: 0.1em;
  }
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: $rootsize;
  padding: $rootsize / 1.25;
  font-size: 0.85em;
  background: $color-box-background;
  border-radius: $border-radius;

  &+& {
    margin-top: -($rootsize / 2);
  }

  p {
    margin: 0;
    padding: 0;
  }
}

ul {
  margin: 0 0 $rootsize 0;
}

code {
  border-radius: $border-radius;
  font-size: $small;
}

iframe {
  overflow: hidden;
  border-radius: $border-radius;
  margin-bottom: $line-h / 2;

  @supports (scrollbar-width: none) {
    & {
      scrollbar-width: none;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: $border-radius;
  -webkit-animation: fadeIn ease 0.8s;
  animation: fadeIn ease 0.8s;
}

object {
  width: 100%;
  height: 15em;
}

.side {
  position: unset;
  height: auto;

  h3 {
    margin: initial;
    margin-bottom: $line-h / 2;
  }

  div {
    font-size: 0.7em;
    font-size: $small;
    line-height: $line-h;
  }
}

@media (min-width: 769px) {
  .side {
    padding-left: $rootsize;
    position: -webkit-sticky;
    position: sticky;
    top: 1em;
    height: 50vh;

    div {
      font-size: $smaller;
    }
  }
}

#masonry {
  margin-top: $line-h / 2;

  .column {
    float: left;
  }

  .size-1of1 {
    width: 100%;
  }

  .size-1of2 {
    width: 50%;
  }

  .size-1of3 {
    width: 33.333%;
  }

  @media screen and (max-width: 769px) {
    &[data-columns]::before {
      content: "1 .column.size-1of1";
    }

    & div {
      width: 104.5%;
      height: auto;
      font-size: $small;
      padding-bottom: calc(1px + 2vw);
    }
  }

  @media screen and (min-width: 770px) and (max-width: 1599px) {
    &[data-columns]::before {
      content: "2 .column.size-1of2";
    }
  }

  @media screen and (min-width: 1600px) {
    &[data-columns]::before {
      content: "3 .column.size-1of3";
    }
  }

  div {
    margin-top: 0;
    margin-bottom: 4%;
    transition: all ($transtime / 1.5) ease-in-out;

    div:hover,
    div:focus {
      transform: scale(1.04);

      img {
        opacity: 50%;
      }

      a {
        color: $links;
      }
    }

    a {
      display: block;
      margin-right: 0.6em;
      padding: 0 0 0.2em 0;
      text-decoration: none;
      border: none;
      color: unset;
      background-color: $color-box-background;
      border-radius: $border-radius;

      &:after {
        display: none;
      }

      &:active {
        background-color: transparent;
      }
    }

    img {
      width: 100%;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    h3 {
      padding-left: 0.5em;
      font-size: $smaller;
      font-weight: 700;
      margin-top: $line-h / 4;
      margin-bottom: $line-h / 6;

      &:before {
        display: none;
      }
    }

    p {
      padding-left: 0.5em;  
      letter-spacing: 0.02em;
      line-height: $line-h;
      font-size: $smaller;
      color: $lighter;
      margin-bottom: $line-h / 2;
    }
  }

  /* clearfix */
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.mentiongrid {
  display: grid;
  grid-gap: $rootsize;
  grid-template-columns: repeat(1fr);
}

.notes-entry-container {
  display: grid;
  grid-gap: $gridgap;
  margin-bottom: ($margin / 2);
  padding: 0;

  @media (min-width: 769px) {
    grid-template-columns: 3fr 1fr;
  }

  section p:first-child {
    margin-top: 0;
  }

  section p:last-child {
    margin-bottom: 0;
  }

  img {
    margin-top: $line-h / 1.5;
    margin-bottom: $line-h / 4;
  }
}

.backlink-box {
  background: $color-box-background;
  border-radius: $border-radius;
  padding: 0.65em;
  transition: ($transtime / 1.5) ease-in-out;

  div {
    margin-top: $rootsize / 2;
    line-height: $line-h * 1.25;
    transition: color ($transtime / 2) ease-in-out;
  }

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    transform: scale(1.04);

    a {
      color: $primary;
      text-decoration: underline;
      -webkit-text-decoration-color: $links;
      text-decoration-color: $links;
    }

    div {
      color: $lighter;
    }
  }
}

.callout {
  padding: 3em 1em;
  background: #F5F7FF;
  border-radius: 0.25em;
}

.invalid-link {
  color: mix($site-background, white, 80%);
  cursor: help;
}

.invalid-link-brackets {
  color: mix($site-background, white, 90%);
  cursor: help;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}