<!DOCTYPE html>
<html lang="en">
{%- include head.html -%}
<body>
  {% if page.id == "home" %}
  <div class="wrapper">
    <nav>
      <h1>{{ site.title }}</h1>
    </nav>
    <main>{{ content }}</main>
  </div>
  <div class="wrapper">{%- include selprojects.html -%}</div>
  <div class="wrapper">{%- include jump-to.html -%}</div>
  {% else %}
  <div class="wrapper">
    <nav>{%- include breadcrumbs.html -%}</nav>
    <main>{{ content }}</main>
    <footer>
      <small>My work is supported by the generosity of the people who believe in its value. Please consider <a
          href="https://ko-fi.com/francescoimola" target="_blank">buying me a coffe</a>.</small>
    </footer>
  </div>
  {% endif %}
</body>
</html>