<!DOCTYPE html>
<html lang="en">
{%- include head.html -%}

<body>

  {% if page.id == "home" %}
    <div class="one">
      <div class="wrapper sticky">
        <nav>
          <h1>{{ site.title }}</h1>
        </nav>
        <main>{{ content }}</main>
      </div>
    </div>
    <div class="two">
        <div class="wrapper">{%- include thissite.html -%}</div>
        <div class="wrapper right">{%- include selprojects.html -%}</div>
    </div>

  {% else %}
  <div class="one">
    <div class="wrapper sticky">
      <nav>{%- include breadcrumbs.html -%}</nav>
      <main>{{ content }}</main>
    </div>
  </div>
  <div class="two">
    <div class="wrapper">

      {%- if page.backlinks.size > 0 -%}

      <details open role="feed">
        <summary>
          <h2>Notes mentioning this note</h2>
        </summary>

        {%- for backlink in page.backlinks -%}

        <a class="internal-link"
          href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a>
        <p aria-hidden="true">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</p>

        {%- endfor -%}
      </details>

      {%- else -%}
      <h2 class="custom_margin">Notes mentioning this note</h2>
      <p>There are no notes linking to this note.</p>
      {%- endif -%}
    </div>
  </div>
  {% endif %}
</body>

</html>