<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}
  <body>
      <nav>
        {% if page.id == "home" %}
          <h1>{{ site.title }}</h1>
        {% else %}
          {%- include breadcrumbs.html -%}
          <br>
        {% endif %}
      </nav>
      {% if page.id == "home" %}
          <main>{{ content }}</main>
        {% else %}
          <main>{{ content }}</main>
          <footer>
            <small>My work is supported by the generosity of the people who believe in its value. Please consider <a href="https://ko-fi.com/francescoimola" target="_blank">buying me a coffe</a>.</small>
          </footer>
        {% endif %}
  </body>
</html>