---
layout: default
---

<article>
  <h2>{{ page.title }}</h2>
    {{ content }}
    <br>
    {%- if page.backlinks.size > 0 -%}
      <section role="feed">
      <h2>Notes mentioning this note</h2>
        {%- for backlink in page.backlinks -%}
        <ul>
          <li><a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a>
            <span aria-hidden="true">— {{ backlink.excerpt | strip_html | truncatewords: 22 }}</span></li>
        <ul>
        {%- endfor -%}
      </section>
    {%- else -%}
      <h2>Notes mentioning this note</h2>
        <p>There are no notes linking to this note.</p>
    {%- endif -%}
    {%- include jump-to.html -%}
</article>